# ------------------------
# Python / Django
# ------------------------
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Django stuff
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
db.sqlite3
media/
staticfiles/

# Migrations (keep __init__.py only)
*/migrations/*
!*/migrations/__init__.py

# ------------------------
# Environment
# ------------------------
.env
.venv/
env/
venv/
*.env

# ------------------------
# IDE / Editor
# ------------------------
.vscode/
.idea/
*.swp

# ------------------------
# OS
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Coverage / Test
# ------------------------
.coverage
.tox/
htmlcov/
pytest_cache/

# ------------------------
# AWS / Secrets
# ------------------------
*.pem
*.key
